* {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #dec3a2;
}

ol>li::marker {
    font-weight: 700;
}

a > img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 2em;
  transition: transform 0.2s;
}

a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  color: #522210;
}

a > p {
  margin-top: 0.2em;
}

a > img:hover {
  opacity: 0.33;
  transform: scale(1.025);
}

h1 {
  text-align: center;
  background-color: saddlebrown;
  color: azure;
  padding: 0.5em 0;
  margin: -0.3em -1em 1em -1em;
  /* border-radius: 1em 0 0 1em; */
  border-bottom: solid 8px #72321a;
  /* box-shadow: 0 0 5px 0 #000; */
}

nav {
  /* border: red 5px solid; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 0;
  padding: 0;
  list-style: none;
  /* border: yellow 5px solid; */
}

.nav-list li {
  /* border: green 5px solid; */
  /* border-bottom: 7px solid saddlebrown; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  /* width: 100%; */
} 

.nav-list > * {
  /* background-color: aqua; */
  text-align: center;
  font-size: 1.3em;
}

/* .page-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
} */

.page-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: -2em -0.5em auto -0.5em;
}

.page-nav > * {
  font-size: 1.1em;
}

.page-nav > h2 {
  margin: auto 0.5em;
  flex-basis: 100%;
  font-size: 1.45em;
  text-align: center;
  background-color: rgb(239, 233, 233);
  color: #656565;
  padding: 0.5em 0;
  /* margin: -0.3em -0.5em 0.5em -0.5em; */
  /* border-radius: 0.5em 5em 0.5em 5em;  */
  border-bottom: solid 6px #b6b6b6;
}

.page-nav > h3 {
  flex-basis: 100%;
  margin: auto;
  margin-left: 1.5em;
  font-size: 1.6em;
}

.page-nav > p {
  flex-basis: 100%;
  text-align: center;
}

.page-nav > img {
  max-width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.page-nav > ol > li {
  padding: 0.5em;
}

.page-nav > ol > li > img {
  display: flex;
  max-width: 100%;
  max-height: 400px;
  border-radius: 3em;
  padding-top: 1em;
}

.page-nav > ul {
  margin-top: 0;
  width: 100%;
}

.page-nav > ul > li {
  list-style-type: none;
}

.full-width {
  flex-basis: 100%;
  height: auto;
}

/* @media (min-width: 600px) {
  .nav-list {
  flex-direction: row;
  }
} */